.App {
  text-align: center;
}

.Button-delete {
  background-color: lightcoral;
  border: none;
  margin: 20px;
}

.Button-update {
  background-color: rgb(206, 200, 130);
  border: none;
  margin: 20px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form{
  border-width: 2px;
  border-color: black;
  border-style: groove;
  background-color: #192734;
  padding: 10px;
  width: 100%;
}

button{
  margin-top: 10px;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(0.5);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}
